
#home {
          background: linear-gradient(to bottom, #ffffff, #e0f2fe);
          font-family: "Poppins", sans-serif;
          color: var(--text-color);
          padding:5rem ;
    }

    @media (max-width: 768px) {
          #home {
            padding: 3rem 1rem;
          }
    }