/* === HERO SECTION === */
#home {
  background: linear-gradient(to bottom, #ffffff, #e0f2fe);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  padding:5rem;
  margin-bottom: 1rem;
}

.cta-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  #home {
    padding: 3rem 1rem;
  }

  .cta-row {
    flex-direction: column;
    gap: 0.5rem;
  }
}